.formWrapper{
  width: 1000px;
  /* float: left; */
  margin: 0 auto;

  .fieldSection{
    width: 30%;
    float: left;
    margin: 10px;
    height: 20px;
    .inputLabel{
      width: 40%;
      float: left;
    }
    .inputField{
      width: 60%;
      float: left;

      input{
        width: 100%;
        float: left;
      }
    }
  }

  .formBody, .formFooter{
    width: 100%;
    float: left;
    margin: 10px 0;
  }
}
